{{define "header" -}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/css/bootstrap-4.5.0.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome-free-5.13.0-all.min.css" rel="stylesheet">

    <title>{{.PageTitle}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainToggle" aria-controls="navbarMainToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMainToggle">
            <a class="navbar-brand" href="/">PupHaus</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {{- range .NavBar -}}
                {{- if .Children }}
                <li class="nav-item dropdown{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
                    <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{- .Text -}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{- range .Children}}
                            <a class="dropdown-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}" href="{{.URL}}">{{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{.Text}}</a>
                        {{- end}}
                    </div>
                </li>
                {{- else}}
                <li class="nav-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
                    <a class="nav-link" href="{{.URL}}">{{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{.Text}}{{if .Active}} <span class="sr-only">(current)</span>{{end}}</a>
                </li>
                {{- end -}}
            {{- end}}
            </ul>
            <!--form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form-->
            <span class="navbar-text">
                {{ .User.Name }}
            </span>
        </div>
    </nav>
{{- if ne .AlertError.Text "" }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{.AlertError.Header}}</strong> {{.AlertError.Text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{- end }}
{{- if ne .AlertWarn.Text "" }}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{.AlertWarn.Header}}</strong> {{.AlertWarn.Text}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{- end }}
    <div class="container">
{{end}}

{{define "footer"}}
    </div>

    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper-1.16.0.min.js"></script>
    <script src="/static/js/bootstrap-4.5.0.min.js"></script>
</body>
</html>
{{- end}}

{{define "navbar"}}
<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
{{- range . -}}
    {{- if .Children }}
    <li class="nav-item dropdown{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
        <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{- .Text -}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{- range .Children}}
                <a class="dropdown-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}" href="{{.URL}}">{{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{.Text}}</a>
            {{- end}}
        </div>
    </li>
    {{- else}}
    <li class="nav-item{{if .Active}} active{{end}}{{if .Disabled}} disabled{{end}}">
        <a class="nav-link" href="{{.URL}}">{{if .FAIcon}}<i class="fas fa-{{.FAIcon}}"></i> {{end}}{{.Text}}{{if .Active}} <span class="sr-only">(current)</span>{{end}}</a>
    </li>
    {{- end -}}
{{- end}}
</ul>
{{end}}